# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db

# Temp or backup files
*.csv~
*.tmp
*.log
